html {
    font: 16px/1.5 "Helvetica", sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

body {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    line-height: 1.2;
    font-family: "Georgia", serif;
    padding-top: 1em;
}

div {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
} 

img {
    display: flex;
    border: 0.5em solid #000;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

blockquote {
    display: block;
    border-left: 2px solid #000;
    font-family: "Georgia", serif;
    font-style: italic;
    padding: 1em;
    width: 50%;
    float: right;
}

.site-header {
    display: flex;
    width: 100%;
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.underline {
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0)
}

.site-main {
    width: 80%;
}

.image-1 {
    float: right;
}

.image-2 {
    float: left;
}

.site-sidebar {
    width: 20%;
    padding-left: 2em;
}

.text {
    margin: 1em;
}

.author {
    text-align: right;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}