html {
    font: 16px/1.5 "Helvetica", sans-serif;
    box-sizing: border-box;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

body {
    max-width: 60em;
    margin: 0 auto;
    background-color: #EEE;
}

p.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    display: inline-block;
    border: 0.5em solid #000;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.4);
}

img.image-1 {
    float: right;
}

img.image-2 {
    float: left;
}

blockquote {
    display: block;
    border-left: 2px solid #000;
    font-family: "Georgia", serif;
    font-style: italic;
    padding: 1em;
    width: 50%;
    float: right;
}

.text {
    margin: 1em;
}

.author {
    text-align: right;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}