html {
    font: 16px/1.5 "Helvetica", sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.5em;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

article {
    margin-right: 3em;
}