html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;
    max-width: 60em;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
}

h3 {
    margin-bottom: 0.5em;
}

.card {
    width: 25em;
    padding: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.2);
}
