html {
    box-sizing: border-box;
}

div {
    display: flex;
    align-items: center;
    max-width: 65vw;
    height: 17.1rem;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    height: inherit;
}

.week {
    flex-wrap: wrap;
}

.work {
    width: 100%;
}

.weekend {
    width: 100%;
}

.day {
    flex-basis: 0;
    flex-grow: 1;
}

span {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding-top: 1em;
    padding-bottom: 2em;
}

.notes {
    flex-direction: column;
}

.rem {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}