@import url('./css/all.css');

html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    max-width: 60em;
    margin: 0 auto;
}

p a {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}

.button1 {
    border: 1px solid green;
    border-radius: 0.2em;
    background-color: green;
}

.button2 {
    border: 1px solid orange;
    border-radius: 0.2em;
    background-color: orange;
}

p a i {
    margin-right: 0.5em;
}