@import url('./css/all.css');

html {
    font: 16px/1.5 "Verdana", sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #CCC;
}

.site {
    max-width: 64em;
    margin: 0 auto;
    padding: 2em;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.site-title {
    display: flex;
    flex: 0 0 50%;
    text-transform: uppercase;
    font-size: 2em;
}

.site-nav {
    display: flex;
    flex: 0 0 50%;
}

.site-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    background-color: #FFF;
    border-radius: 0.5em;
}

.site-nav li {
    display: block;
    list-style: none outside;
}

.site-nav a {
    display: block;
    background-color: #000;
    color: #FFF;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0.2em;
}

.site-nav-label {
    display: none;
}

.site-nav-toggle + .site-header .site-nav-label .open { display: block; }
.site-nav-toggle + .site-header .site-nav-label .close { display: none; }

.site-nav-toggle:checked + .site-header .site-nav-label .open { display: none; }
.site-nav-toggle:checked + .site-header .site-nav-label .close { display: block; }

.site-nav-toggle:checked + .site-header .site-title,
.site-nav-toggle:checked + .site-header .site-nav-label {
    position: relative;
    z-index: 10;
}

.site-nav-toggle:checked + .site-header .site-nav {
    display: block;
}

.site > input {
    display: block;
    position: absolute;
    top: 0; left: 0;
    visibility: hidden;
    pointer-events: none;
}

@media screen and ( max-width: 900px ) {

    .site-nav-label {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .site-nav-label:before {
        display: flex;
        font-family: 'Font Awesome 5 Free';
        content: '\f00d';
        margin-right: 0.5em;
    }

    .site-header {
        display: block;
        border-bottom: none;
    }

    .site-title {
        display: flex;
        justify-content: center;
    }

    .site-nav {
        display: block;
    }

    .site-nav ul {
        display: block;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        border-radius: 0;
    }

    .site-nav a {
        margin-bottom: 0.5em;
    }

    .site-nav-toggle:checked + .site-header {
        position: fixed;
        width: calc( 100% - 4em );
    }

    .site-nav-toggle:checked + .site-header .site-nav {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,1);
    }
}
