@import url('./css/all.css');

html {
    font: 16px/1.5 "Gelasio", serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
    background-color: rgb(230, 227, 222);
}

.site-header li {
    list-style: none;
    display: inline-block;
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: #000;
}

.log-in a {
    border: 1px solid rgb(85, 73, 56);
    color: #FFF;
    background-color: rgb(85, 73, 56);
    padding: 0.5em;
    margin-right: 1.5em;
}

.site-media {
    height: 75vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-media img {
    display: block;
    width: 100%;
    height: auto;
}

.site-media h1 {
    font-size: 3em;
    color: #FFF;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.5em;
}

.site-main {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.entry {
    display: flex;
    height: 13em;
    max-width: 40em;
    background: #F8F8F8;
    margin-bottom: 3em;
}

.entry:nth-child(even) .entry-media {
    order: 2;
}

.entry-media {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;
}

.entry-media img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

.entry-content {
    text-align: center;
    margin: 2em;
}

.entry-content a {
    border: 1px solid rgb(85, 73, 56);
    background-color: rgb(85, 73, 56);
    color: #FFF;
    padding: 0.3em 0.5em;
    margin-top: 1em;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery h3 {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.3em 2em;
    margin-bottom: 2em;
}

ul {
    display: flex;
}

.gallery li {
    list-style: none;
}

.article {
    background-color: white;
    display: block;
    width: 15em;
    height: 16em;
    margin: 0 10px 10px 0;
}

.image {
    width: 100%;
    height: 70%;
}

.article-image {
    display: block;
    width: 100%;
    height: 100%;
}

.article-text {
    display: block;
    text-align: center;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.shop {
    border: 1px solid rgb(219, 77, 52);
    background-color: rgb(219, 77, 52);
    color: #FFF;
    padding: 0.3em 5em;
    margin-top: 1.5em;
}

.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
    background-color: rgba(230, 227, 222, 0.6);
}

.site-footer li {
    list-style: none;
    display: inline-block;
    margin: 0.5em;
}

.site-footer li a {
 border-left: 1px solid #000;
 padding-left: 0.5em;
}

.site-footer li:first-child a {
    border-left: none;
}