html {
    font: 16px/1.5 "Helvetica", sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

body {
    max-width: 60em;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6, blockquote {
    font-size: 1em;
    line-height: 1.2;
    font-family: "Georgia", serif;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

.site {
    max-width: 60em;
    margin: 0 auto;
}

p.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

nav.site-nav {
    display: inline-block;
    float: right;
}

.site-nav ul {
    list-style-type: none;
}

.site-nav li {
    display: inline-block;
}

.site-nav a {
    color: rgb(0, 102, 0);
    padding-right: 1.5em;
    text-decoration: none;
}

img {
    display: inline-block;
    border: 0.5em solid #000;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.25);
    background-image: rgb(255, 255, 255);
}

img.image-1 {
    float: right;
}

img.image-2 {
    float: left;
}

.site-main {
    display: inline-block;
    width: 78%;
}

blockquote {
    display: block;
    border-left: 2px solid #000;
    font-style: italic;
    padding: 1em;
    width: 50%;
    float: right;
}

.text {
    margin: 1em;
}

.author {
    text-align: right;
}

.site-sidebar {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-left: 2em;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}