@import url('./css/all.css');

html {
    font: 16px/1.5 "Verdana", sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #FFF;
}

body, form, input, button, textarea {
    font: inherit;
}

.site {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
}

form {
    width: 40%;
}

legend {
    border: 2px solid plum;
    color: #666;
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: #EEE;
    font-weight: bold;
}

fieldset {
    display: block;
    background-color: #EEE;
    border-radius: 0.3em;
    padding: 1em;
    border: 2px solid plum;
}

label {
    color: #666;
}

input {
    display: block;
    width: calc( 100% - 0.5em );
    border: 2px solid plum;
    border-radius: 0.3em;
    padding-left: 0.5em;
}

button {
    border: 1px solid plum;
    border-radius: 0.3em;
    background-color: plum;
    color: #FFF;
    font-weight: bold;
    padding: 0.3em 0.9em;
    margin-top: 0.5em;
}

.uname {
    margin: 1em 0;
    font-weight: bold;
}

.pass {
    margin: 1em 0;
    font-weight: bold;
}

#username {
    content: '';
    font-family: "Font Awesome 5 Free";
}

#password {
    content: '';
    font-family: "Font Awesome 5 Free";
}
