.site-nav {
    display: flex;
    flex: 0 0 50%;
}

.site-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    background-color: #FFF;
    border-radius: 0.5em;
}

.site-nav li {
    display: block;
    list-style: none outside;
}

.site-nav a {
    display: block;
    background-color: #000;
    color: #FFF;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0.2em;
}

.site-nav-label {
    display: none;
}

.site-nav-toggle + .site-header .site-nav-label .open { display: block; }
.site-nav-toggle + .site-header .site-nav-label .close { display: none; }

.site-nav-toggle:checked + .site-header .site-nav-label .open { display: none; }
.site-nav-toggle:checked + .site-header .site-nav-label .close { display: block; }

.site-nav-toggle:checked + .site-header .site-title,
.site-nav-toggle:checked + .site-header .site-nav-label {
    position: relative;
    z-index: 10;
}

.site-nav-toggle:checked + .site-header .site-nav {
    display: block;
}
