html {
    font: 16px/1.5 "Helvetica", sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

body {
    background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
    padding: 1em 0;
}

p {
    padding-bottom: 1.5em;
}

blockquote {
    display: block;
    border-left: 2px solid #000;
    font-family: "Georgia", serif;
    font-style: italic;
    padding: 1em;
    width: 50%;
    margin-left: 2em;
    float: right;
}
