@import url('./css/all.css');

html {
    font: 16px/1.5 "Lato", sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

section {
    max-width: 60em;
    margin: 0 auto;
    margin-top: 5em;
}

header {
    width: 15%;
    background-color: rgb(66, 171, 248);
    color: #FFF;
    margin-left: auto;
    padding: 0.5em;
    text-align: center;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: rgb(244, 245, 247);
    padding: 1em;
    border-radius: 0.3em 0.3em 0 0;
    margin-bottom: 0.1em;
}

i {
    color: green;
    font-size: 1.5em;
    padding-right: 1.8em;
}