@import url('./css/all.css');

* {
    padding: 0;
    margin: 0;
}

body {
    border: solid currentColor;
    border-width: 30px 0 0 0;
    color: blue;
}

.viewport {
    height: 100vh;
    /* background-color: lightblue; */
    background-image: linear-gradient( to right, #185a9d, #42cca1 );
    position: relative;
}

.viewport:nth-child(even) {
    /* background-color: lightsalmon; */
    background-image: linear-gradient( to right, #a83378, #d38313 );
}

.card {
    color: #FFF;
    font-size: 3em;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12em;
    overflow: hidden;
    border-radius: 0.2em;
    box-shadow: 0 0 1.5rem 0.1em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.card:before {
    display: block;
    content: '';
    /* background: rgba(0,0,0,0.5); */
    box-shadow: 0 0 2em 0.2em rgba(0, 0, 0, 0.9) inset;
    z-index: 10;
    position: relative;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

.card:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.card:hover:before {
    opacity: 0.1;
}

.card.ar-16x9:before {
    padding-top: calc( ( 9 / 16 ) * 100% );
}

.card.ar-9x16 {
    width: 8em;
}

.card.ar-9x16:before {
    padding-top: calc( ( 16 / 9 ) * 100% );
}

.card .media {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: blue;
    /* z-index: 5; */
}

.card.portrait img {
    display: block;
    height: 100%;
    width: auto;
}

.card.landscape img {
    display: block;
    width: 100%;
    height: auto;
}

.card .icon {
    position: absolute;
    color: #FFF;
    bottom: 1.5em;
    right: 1.5em;
}
